/* src/layouts/layout.module.css */

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* era flex-start */
  background-color: #f9f9f9;
  overflow-x: hidden;
}

.content {
  flex-grow: 1;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}