/* src/components/BootScreen.css */

.boot-wrapper {
  height: calc(100% + 96px);
  width: calc(100% - 7px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 42px;
  padding: 10px;
  margin: -58px -5px -58px -6px;
}

.boot-screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 90% 0 15% 0;
}

.logo-screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 90% 0 15% 0;
  /* Ajusta espaçamento vertical */
}

.logo-icon {
  font-size: 60px;
  /* font-size: 48px; */
  color: #fff;
  /* color: #ff6700; */
}

.android {
  width: 100px;
  /* height: 90px; */
  /* opacity: 0.7; */
  /* margin-bottom: 12%; */
}