/* src/components/WhatsAppPhone/HomeScreen.css */

.home-screen {
  position: relative;
  z-index: 1;
  height: calc(100% + 56px);
  width: calc(100% - 23px);
  background: url('/wallpaper.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 18px;
  border-radius: 42px;
  pointer-events: auto;
  margin: -58px -5px -58px -6px;
}

/* .home-screen .status-bar {
  color: #ffffff;
} */

.app-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
  flex-grow: 1;
  align-items: center;
  justify-items: center;
}

.app-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s ease;
}

.app-icon:hover {
  transform: scale(1.1);
}

.app-icon img {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
}

.app-icon span {
  font-size: 14px;
  text-align: center;
  max-width: 72px;
  overflow-wrap: break-word;
}

.top-info {
  margin-top: 20px;
  text-align: left;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.time {
  font-size: 42px;
  /* font-family: 'SF Pro Display', -apple-system, 'Helvetica Neue', Arial, sans-serif; */
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN W3", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 200;
  /* peso mais fino para parecer com Montserrat Alternates */
  letter-spacing: -1.8px;
  /* espaçamento negativo entre as letras */
  line-height: 1;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  /* suavização da fonte */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.date {
  font-size: 12px;
  /* font-size: 16px; */
  font-family: 'SF Pro Display', -apple-system, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 200;
  margin-top: 2px;
  margin-left: 4px;
}

.navigationBar.homeNavigationBar {
  margin-bottom: -30px;
}