/* src/components/LockScreen.css */

.lock-screen {
  background: url('/wallpaper.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  height: calc(100% + 96px);
  width: calc(100% - 7px);
  border-radius: 42px;
  padding: 10px;
  margin: -58px -5px -5px -6px;
}

.lock-status-bar {
  text-align: center;
  margin-top: 60px;
}

.lock-time {
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN W3", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 200;
  letter-spacing: -2.8px;
  line-height: 1;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 64px;
}

.lock-date {
  font-size: 12px;
  margin-top: 4px;
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN W3", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  /* font-weight: 500; */
  /* letter-spacing: 1px; */
  line-height: 1;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.lock-app-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.lock-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.arrow {
  width: 25px;
  height: 25px;
}